pytest
homeassistant >= 2023.8.3
voluptuous
pytest-watcher
pytest-homeassistant-custom-component >=0.13.53
anyio[asyncio]
pre-commit
jinja2
requests
pyyaml
urllib3

types-requests
types-pyyaml
homeassistant-stubs
mypy
